.App {
    text-align: center;
  }
  
  html, body { min-height: 100%; }
  
  div {
    min-height: auto;
    min-width: auto;
  }
  
  .grid {
    border: 4px orange;
    width: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    float: right;
  }

  .day {
    background-color: whitesmoke;
    color: black;
    display: grid;
    grid-template-rows: repeat(13, 40px);
    grid-gap: 10px;
    height: 100%;
    border-radius: 5px;
    border: 2px orange;
  }

  .hour {
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    border: 1px dodgerblue solid;
    float: top;
    height: 50px;
  }
  
  h1.logo {
    color: orange;
    position: relative;
    left: 0%;
  }

  h2.graph_title {
    padding-top: 3%;
    background-color: whitesmoke;
    font-size: 24px;
    padding-bottom: 3%;
  }
  
.usage_data {
    background-color: lightgray;
    max-width: 90%;
    max-height: 90%;
}

.usage_data_contents {
  margin-top: 15%;
}

img.data_graph {
    max-width: 80%;
    max-height: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
}

  .calendar_preview {
    background-color: lightgray;
    height: 200px;
    padding: 40px 10px 10px 10px;
  }
  
  .study_time_stats {
    background-color: lightgray;
    height: 100px;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .activities_due {
    background-color: lightgray;
    height: 100px;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .miscellaneous_items {
    background-color: lightgray;
    height: 100px;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  #statistics {
    display: block;
    width: 30%;
    min-height: 100%;
    background-color: whitesmoke;
  }

  #sidebar {
    display: block;
    width: 28%;
    min-height: 100%;
    background-color: rgba(250, 219, 161, 0.856);
    margin-right: 20px;
  }
  
  img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .column {
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }